@model List<Author>

@{
	ViewData["Title"] = "Autores";
}

<h1>Autores</h1>

<a asp-action="Create" class="btn btn-primary">Nuevo Autor</a>

<table class="table table-bordered mt-3">

   <thead>
		<tr>
			<th>Nombres</th>
			<th>Apellidos</th>
			<th></th>
		</tr>
   </thead>
   <tbody>

		@foreach (Author author in Model)
		{
			<tr>
				<td>@author.FirstName</td>
				<td>@author.LastName</td>
				<td>
					<a asp-action="Edit" asp-route-id="@author.Id" class="btn btn-warning">Editar</a>
					<a asp-action="Delete" asp-route-id="@author.Id" class="btn btn-danger">Eliminar</a>
				</td>
			</tr>
		}

   </tbody>

</table>

